<h1>Grid Example</h1>
<hr />

<div class='row'>
  <div class='col s4 box grid_box'>
  </div>
  <div class='col s4 box grid_box'>
  </div>
  <div class='col s4 box grid_box'>
  </div>
</div>

<div class='row'>
  <div class='col s4 box grid_box'>
  </div>
  <div class='col s4 box grid_box'>
  </div>
  <div class='col s4 box grid_box'>
  </div>
</div>

<div class='row'>
  <div class='col s4 box grid_box'>
  </div>
  <div class='col s4 box grid_box'>
  </div>
  <div class='col s4 box grid_box'>
  </div>
</div>
