<h1>jQuery Examples</h1>

<h3>Helllo World</h3>

<div id='slideToggle' class='box'>
  this is the initial box test.
</div>

<button id='jquery_button'>jQuery Button</button>


<form action='/contact' method='post'>
  <input type='text' name='first_name' placeholder='First Name' />
  <input type='text' name='last_name' placeholder='Last Name' />

  <input id='form_submit_button' type='submit' />
</form>

<hr>

<input id='user_name' type='text' placeholder='User Name' />
<button id='add_user_button' type='button'>Add User</button>
<button id='clear_user_button' type='button'>Clear Users</button>

<ul id='users_list'>
  
</ul>