.box {
  width: 200px;
  height: 200px; 
  background-color: blue;
}

.black-background {
  background-color: black;
  color: white;
}

.white-text {
  color: white;
}

.blue-text {
  color: blue;
}

h1 {
  cursor: pointer;
}

